.dialog-container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cover-color);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.dialog-wrapper {
    background-color: var(--white-background-color);
    width: 400px;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
}

.dialog-header__title {
    font-family: roboto-bold;
    font-size: 20px;
}

.dialog-header__icon {
    border: unset;
    background-color: var(--white-background-color);
    cursor: pointer;
    /* background-position: -146px -146px; */
}

.dialog-header__icon i {
   font-weight: bold;
   font-size: 20px;
}

.dialog-body {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.dialog-body__icon {
    width: 36px;
    height: 36px;
    
}

.dialog-body__detail {
    line-break: auto;
    flex: 1;
}

.dialog-footer {
    display: flex;
    align-items: center;
}

/* dialog lưu dữ liệu */

.icon--save {
    background-position: -832px -462px;
}

.dialog-save__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-footer__right {
    display: flex;
    column-gap: 8px;
}

/* dialog xóa dữ liệu */

.dialog-body .icon--delete {
    background-position: -598px -463px;
}

.dialog-delete__footer {
    justify-content: right;
    column-gap: 8px;
}

/* dialog cảnh báo trường để trống */
.dialog-body .icon--warning {
    background-position: -752px -462px;
}

.dialog-wraning__footer {
    justify-content: right;
}

/* dialog trùng mã nhân viên */
.dialog-body .icon--duplicate {
    background-position: -598px -463px;
}