.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cover-color);
  z-index: 500;
  align-items: center;
  justify-content: center;
  display: none;
}

.form-wrapper {
  min-width: 900px;
  background-color: var(--white-background-color);
  padding: 24px 24px 12px 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}


.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-header__left {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.form-title {
  font-family: roboto-bold;
  font-size: 24px;
}

/* -------start css checkbox  -------------*/

.container-identity {
  /* display: block; */
  position: relative;
  display: flex;
  column-gap: 8px;
  padding-left: 32px;
  align-items: center;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-family: roboto-regular;
  line-height: 20px;

  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-identity input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--white-background-color);
  border: 1px solid var(--input-border-color);
}



/* When the checkbox is checked*/
.container-identity input:checked~.checkmark {
  background-color: var(--white-background-color);
  border: 1px solid var(--main-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-identity input:checked~.checkmark:after {
  display: block;
  /* color: #50B83C; */
}

/* Style the checkmark/indicator */
.container-identity .checkmark:after {
  left: 6px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid var(--main-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* -----------end css checkbox -------------*/

.form-header__right {
  display: flex;
  column-gap: 8px;
}

.icon-form {
  border: unset;
  cursor: pointer;
}

.icon-help {
  background-position: -89px -145px;
}

.icon-exit {
  background-position: -146px -146px;
}

.form-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.form-content__top {
  display: flex;
  column-gap: 24px;
}

.form-content__top .content-top__left {
  flex: 1;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto;
  row-gap: 16px;
  
}

.content-top__left .el-code {
  padding-right: 8px;
}

.content-top__left .el-department {
  grid-column: 1 / span 2;
}

#form-employee .select-option {
  width: 100%;
  height: 36px;
  padding: 0 8px 0 12px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: unset;
  font-family: roboto-regular;
  font-size: 14px;
}

#form-employee .select-option:hover {
  border-color: var(--main-hover-color);
}

#form-employee .select-option:focus {
  border-color: var(--main-color);
}

.content-top__left .el-job {
  grid-column: 1 / span 2;
}



.content-top__right {
  /* background-color: red; */
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.brith-gender {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.input-brith {
  font-family: roboto-regular;
  font-size: 14px;
}

.el-brith {
  /* margin-right: 16px; */
}

.choice-gender {
  display: flex;
  /* justify-content: center; */
  height: 36px;
  align-items: center;
  column-gap: 8px;
}


/* start css phần chọn giới tính */

.container-radio {
  display: flex;
  align-items: center ;
  position: relative;
  padding-left: 28px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-family: roboto-regular;
  font-size: 14px;
  column-gap: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--secondary-color);
  border: 1px solid var(--input-border-color);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio {
  /* background-color: #ccc; */
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark-radio {
  background-color: var(--white-background-color);
  border: 1px solid var(--main-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark-radio:after {
  top: 3.2px;
  left: 3.3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--main-color);
}
/* end css phần chọn giới tính */

.identity-releasedate {
  display: flex;
  column-gap: 8px;
}

.form-content__bottom {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}


.form-content__bottom .contact-bank {
  width: 75%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 8px;
  row-gap: 16px;
}


.form-footer {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--input-border-color);
}

.form-footer__right {
  display: flex;
  column-gap: 8px;
}