.content {
    height: calc(100% - 56px);
    background-color: #EEEFF1;
    padding: 0 24px 24px 24px;
}
.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.content-header__left {
    font-family: roboto-bold;
    font-size: 24px;
}

.content-table {
    background-color: var(--white-background-color);
    display: flex;
    flex-direction: column;
    height: calc(100% - 68px);
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 12px 20px 12px 0;
    column-gap: 12px;
    
}

.table-header .btn-refresh {
    width: 36px;
    height: 36px;
    border: unset;
    background-color: #fff;
    cursor: pointer;
}

.icon-loading {
  background-position: -424px -201px;
}

.table-header .btn-refresh:hover .icon-loading {

  background-position: -1096px -88px;
}

.table-main {
    flex: 1;
    overflow-y: auto;
}

.table-footer {
    display: flex;
    height: 56px;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
}

.table-footer__left {

}

.table-footer__left span {
    font-family: roboto-bold;
}

.table-footer__right {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.table-footer__right .combobox__data {
    top: -196px;
    box-shadow: 2px -2px 15px #333;
}

.table-footer__right .btn-title {
    border: unset;
    background-color: var(--white-background-color);
    cursor: pointer;
    font-family: roboto-regular;
    font-size: 14px;
}

.table-footer__right .btn-choice-page {
    border: unset;
    background-color: var(--white-background-color);
    cursor: pointer;
    font-family: roboto-regular;
    font-size: 14px;
}

/* css table */
table {
    border-collapse: collapse;
  }
  
  table tr:hover td,
  table tr:hover .td-button {
    background-color: var(--table-hover-color);
    cursor: pointer;
  }

  table .employee__active td,
  table .employee__active .td-button{
    background-color: #d3d2d2;
  }
  
  th,
  td {
    border-right: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    height: 48px;
    padding: 0 16px;
  }
  
  /* td,
  th {
    height: 48px;
    padding: 0 16px;
  } */
  
  th {
    background-color: #d6d6d6;
    position: sticky !important;
    border-top: none;
    z-index: 2;
    top: 0;
    /* font-family: roboto-medium; */
  }
  
  th:first-child {
    left: 0;
    z-index: 4;
  }
  
  th:first-child + th {
  }
  
  th:last-child {
    right: 0;
    z-index: 4;
    border-right: none;
    border-left: 1px solid var(--table-border-color);
  }
  
  th input {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  td {
    background-color: var(--white-background-color);
  }
  
  /* tbody tr:hover .td-last{
      background-color: var(--secondary-hover-color);
  } */
  
  td input {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  td:first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    border-right: 1px solid var(--table-border-color);
  }
  
  /* td:first-child + td {
    border-left: 1px solid var(--table-border-color);
  } */
  
  .td-last {
    position: sticky;
    right: 0;
    z-index: 3;
    border-right: none;
    border-left: 1px solid var(--table-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }
  
  .td-last .td-button {
    background-color: var(--white-background-color);
    border: none;
    padding: 0;
    font-family: roboto-regular;
    font-size: 14px;
    color: #0075c0;
    cursor: pointer;
  }
  
  .td-last .td-button:focus {
    border: 1px solid #0075c0;
  }
  
  
  .td-last .btn-list-function {
    position: relative;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .td-last .btn-list-function .btn-function__icon {
    position: absolute;
    top: 1.5px;
    left: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* danh sách các chức năng trên bảng */
  .dropdown-menu {
    position: absolute;
    z-index: 99;
    color: var(--black-text-color);
    background-color: #fff;
    font-weight: 400;
    border: 1px solid var(--input-border-color);
    min-width: 120px;
    text-align: left;
  }
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropdown-item {
    display: block;
    padding: 4px 0 4px 8px;
    cursor: pointer;
  }
  .dropdown-item:hover {
    color: var(--main-color);
    background-color: #ccc;
  }
  