table {
   border-collapse: collapse;
}

table tr:hover td,
table tr:hover .td-button{
    background-color: var(--table-hover-color);
    cursor: pointer;
}

th, td {
    border-right: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
}

td, th {
    height: 48px;
    padding: 0 16px;
}

th {
    background-color: #d6d6d6;
    position: sticky !important;
    border-top: none;
    z-index: 2;
    top: 0;
    /* font-family: roboto-medium; */
}

th:first-child {
    left: 0;
    z-index: 4;
    
}

th:first-child + th {
   
}

th:last-child {
    right: 0;
    z-index: 4;
    border-right: none;
    border-left: 1px solid var(--table-border-color);
}

th input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

td {
    background-color: var(--white-background-color);
}

/* tbody tr:hover .td-last{
    background-color: var(--secondary-hover-color);
} */

td input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

td:first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    
}

.td-last {
    position: sticky;
    right: 0;
    z-index: 3;
    
    border-right: none;
    border-left: 1px solid var(--table-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.td-last .td-button {
    background-color: var(--white-background-color);
    border: none;
    padding: 0;
    font-family: roboto-regular;
    font-size: 14px;
    color: #0075c0;
    cursor: pointer;
}

.td-last .td-button:focus {
    border: 1px solid #0075c0;
}

.td-last .btn-list-function {
    position: relative;
}


/* danh sách các chức năng trên bảng */
.dropdown-menu {
    position: absolute;
    z-index: 99;
    color: var(--black-text-color);
    background-color: #fff;
    font-weight: 400;
    border: 1px solid var(--input-border-color);
    min-width: 120px;
    text-align: left;
  }
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropdown-item {
    display: block;
    padding: 4px 0 4px 8px;
    cursor: pointer;
  }
  .dropdown-item:hover {
    color: var(--main-color);
    background-color: #ccc;
  }