.date-picker__icon {
  top: 10px;
  right: -8px;
  position: absolute;
  background: url("../../../assets/img/Sprites.64af8f61.svg") no-repeat -128px -312px;
  width: 16px;
  height: 16px;
}
.dp__input_icon_pad {
  padding-left: 0;
}
.dp__input {
  border: none !important;
}
.dp__clear_icon {
  display: none;
}
.dp__input:hover {
  background-color: #f6f6f6;
}
.dp__input_icon {
  left: unset;
  right: 0;
  background: url("../../../assets/img/Sprites.64af8f61.svg") no-repeat -125px -310px;
  margin-right: 0;
}
.dp__input:hover {
  background-color: #f6f6f6;
}
.dp__input_icons {
  display: inline-block;
  width: 0;
  height: 1rem;
  stroke-width: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 3px 12px;
  color: var(--dp-icon-color);
  box-sizing: content-box;
}
.dp__range_end,
.dp__range_start,
.dp__active_date {
  background: #50b83c;
  color: var(--dp-primary-text-color);
}
.dp__cell_inner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 42px;
  height: 35px;
  padding: 5px;
  width: 35px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  position: relative;
}

.dp__now_button {
  color: #50b83c;
  width: 100%;
  padding: 10px 4px;
  font-weight: bold;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  border-top: 1px solid #ccc;
}
.dp__main {
  font-family: "Roboto";
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  min-width: 150px;
  width: 150px;
  height: 26px;
  position: relative;
  padding: 8px 8px 8px 12px;
}
.dp__input_wrap,
.date-picker__wrapper {
  height: 36px;
}
.modal-textfield__input {
  width: 100%;
  height: 34.4px;
  padding: 0 8px 0 12px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: unset;
  font-family: roboto-regular;
  font-size: 14px;
}
.modal-textfield__input:hover {
  border-color: var(--main-hover-color);
}

.modal-textfield__input:focus {
  border-color: var(--main-color);
}
.textfield__input {
  /* font-family: "Roboto";
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  min-width: 150px;
  width: 150px;
  height: 26px;
  position: relative;
  padding: 8px 8px 8px 12px; */
}
.date_wrapper {
  position: relative;
  height: 36px;
}
.date_wrapper:hover .error-info {
  display: block;
}

.error-info {
  top: -28px;
  left: -58px;
  text-align: center;
  background-color: #393a3d;
  padding: 5px 16px;
  width: max-content;
  border-radius: 4px;
  color: #ffff;
  position: absolute;
  transform: translate(35px, 0);
  font-family: Roboto;
  display: none;
  z-index: 99;
}

.error-arrow {
  width: 7px;
  height: 7px;
  background-color: #393a3d;
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
}
.input_content {
  position: relative;
}
.error-bg {
  background-color: #f34545;
  color: #fff;
}
.textfield--error-input {
  border: 1px solid #ff0000 !important;
}
