.textfield-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: relative;
}

.textfield__header {
}

.textfield-label {
  font-family: roboto-medium;
  font-size: 14px;
  cursor: pointer;
}

.textfield--required {
  color: var(--required-color);
}

.textfield__main {
  height: 36px;
  position: relative;
}

.textfield-wrapper {
  height: 36px;
  min-width: 260px;
  position: relative;
}

.textfield__input {
  width: 100%;
  height: 36px;
  padding: 0 8px 0 12px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: unset;
  font-family: roboto-regular;
  font-size: 14px;
}

.textfield__input:hover {
  border-color: var(--main-hover-color);
}

.textfield__input:focus {
  border-color: var(--main-color);
}

.input-icon {
  padding-right: 32px;
}

.textfield-wrapper .icon-wrap {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.textfield__input--required {
  border-color: var(--required-color) !important;
}

.textfield__message {
  position: absolute;
  font-size: 12px;
  color: var(--required-color);
  margin-top: 8px;
  bottom: -18px;
}

.icon-search {
  background-position: -316px -146px;
}

/* tooltip hiển thị các trường lỗi*/
.error-info{
  top: -28px;
  left: -58px;
  text-align: center;
  background-color: #393a3d;
  padding: 5px 16px;
  width: max-content;
  border-radius: 4px;
  color: #ffff;
  position: absolute; 
  transform: translate(35px, 0);
  font-family: Roboto;
  display: none;
  z-index: 99;
}

.error-arrow{
  width: 7px;
  height: 7px;
  background-color: #393a3d;
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%,-50%);
  transform: rotate(45deg);
}

.error-bg{
  background-color: black;
  color: #fff;
}
.textfield__main:hover .error-info {
  display: block;
}
