.combobox-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: relative;
}

.combobox-label {
  font-family: roboto-medium;
  font-size: 14px;
  cursor: pointer;
}

.combobox--required {
  color: var(--required-color);
}
.combobox {
  height: 36px;
  position: relative;
}

/* .combobox:focus {
      border: 1px solid red;
  } */

.combobox__input {
  width: 100%;
  height: 36px;
  border: 1px solid var(--input-border-color);
  padding: 0 32px 0 12px;
  outline: none;
  border-radius: 4px;
  /* cursor: pointer; */
}

.combobox__input:hover {
  border: 1px solid var(--main-hover-color);
}
.combobox__input:focus {
  border: 1px solid var(--main-color);
}

.combobox__icon {
  position: absolute;
  width: 32px;
  height: 34.4px;
  border-radius: 0 3px 3px 0;
  top: 0.8px;
  right: 0.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.combobox__icon:hover {
  background-color: #dbdada;

  border-left: none;
}

.combobox__icon i {
  font-size: 16px;
}

.combobox__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white-background-color);
  position: absolute;
  top: calc(100% + 1px);
  z-index: 100;
  border: none;
  padding: 8px;
  box-shadow: 2px 2px 15px #333;
  border-radius: 4px;
}

.combobox__data .data-item {
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  cursor: pointer;
}

.combobox__data .data-item:hover,
.data-item--selected {
  background-color: var(--main-hover-color);
  border-radius: 4px;
}

.combobox-paging {
  display: none;
}

.combobox__input--required {
  border-color: var(--required-color) !important;
}

.combobox__message {
  position: absolute;
  font-size: 12px;
  color: var(--required-color);
  top: calc(100% + 3px);
}

/* tooltip hiển thị các trường lỗi*/
.error-info{
  top: -28px;
  left: -58px;
  text-align: center;
  background-color: #393a3d;
  padding: 5px 16px;
  width: max-content;
  border-radius: 4px;
  color: #ffff;
  position: absolute; 
  transform: translate(35px, 0);
  font-family: Roboto;
  display: none;
  z-index: 99;
}

.error-arrow{
  width: 7px;
  height: 7px;
  background-color: #393a3d;
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%,-50%);
  transform: rotate(45deg);
}

.error-bg{
  background-color: #f34545;
  color: #fff;
}
.combobox:hover .error-info {
  display: block;
}